:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-size-large: 24px;
  --margin-standard: 16px;
  --background-color:rgb(138, 141, 100);
  --heading-text-color:darkgreen;
  --image-border:1px solid rgb(0 0 0 / 0.2); 
  --image-box-shadow:0 0 30px gray;
  --text-color:black;
  --href-color:white;
  
} 

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: auto;
}
body {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif ;
}
nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: var(--href-color);
    display: block;
    padding: 20px;
    text-decoration: none;
    /* font-size: 0.2rem; */
    /* font-weight: 700px; */
}
h1 {
    color: var(--heading-text-color);
    border-bottom: 2px solid gray;
}
img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-box-shadow);
}
/* main p {
    transform: translateX(20px);
} */
.grid {
  display: grid;
  align-items: start;
  grid-template-columns: 20rem 1fr;
  
}
    
main {
  grid-column: 2;
  margin: 1rem;
}  
aside {
   width: 20rem; 
  position:relative ; 
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  margin: 1rem;
  background-color: var(--background-color);
  padding: 1rem;
  border:1px solid black;
}
aside h2{
    color:var(--heading-text-color);
    position: absolute;
    top: 47px;
    left: 150px;
   
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    display: block;
    width: 150px;     
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:var(--image-box-shadow) ;
    float: right;
    margin:0 0 1rem 1rem;

}
p {
    padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
/* class selectors */
.box {
    margin: 1rem;
    padding:1rem ;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: var(--background-color);
    color: #000;
}





