nav {
    background-color: var(--background-color);
    padding: 10px;
}
nav a {
    color: var(--href-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-text-color);
}
img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-box-shadow);
}

main {
    max-width: 840px;
}


aside {
  width: 20rem;
  margin: 1rem;
  border:var(--image-border) ;
  padding: 1rem;
  background-color:var(--background-color);
  color:var(--text-color);
  text-align: center;
}
aside h2{
    color:var(--heading-text-color);
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;     
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:var(--image-box-shadow) ;

}
p {
    padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-size-large: 24px;
  --margin-standard: 16px;
  --background-color:rgb(138, 141, 100);
  --heading-text-color:darkgreen;
  --image-border:1px solid rgb(0 0 0 / 0.2); 
  --image-box-shadow:0 0 30px gray;
  --text-color:black;
  --href-color:white;
  
}





