


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial sans-serif;
    line-height: 1.6;
}



header, footer {
    background-color: #333;
    color: #fff;
    padding: 16px;
    text-align: center;
    font-size: 1.5rem;
}
main {
    width: 400px;
    margin: auto;
}


h1 {
    margin: 10px;
    text-align: center;
}
h2 {
    border-bottom: 1px solid #222; 
}


img {
    width: 100%;
    height: auto;
    box-shadow: 00 30px #333;

}
section {
    margin: 20px 0;
    border: 1 px solid  rgb(red, green, blue);
    padding: 10px;
    background-color:#abe ;
    font-size: .9rem;
}
section p {
    margin: 10px;
}
footer {
    font-size: .9rem;
    
}
ul {
    margin: 10px 20px;
}
